table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 8px solid #5F9EA0;
    padding: 4px;
    text-align: left;
}

th {
    background-color: #D2691E;
}

th:first-child,
td:first-child {
    width: 40%;
}

th:second-child,
td:second-child {
    width: 40%;
}

body {
    background-color: white;
    color: black;
    margin: 30px;
}

article {
    background-color: #F0F8FF;
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: right;
}

h1, h2, h3, p {
    color: black;
}

footer {
    text-align: center;
    margin-top: 20px;
}
